%==============================================================================
% Extends base template
%==============================================================================
((*- extends 'base.tex.j2' -*))

%==============================================================================
% Cell
%==============================================================================
((* block any_cell scoped *))
    ((* if "nbcx_ignore" in cell.metadata.get("tags", []) *)) 
    % Do Nothing if nbcx_ignore tag is set
    ((* elif "nbcx_title" in cell.metadata.get("tags", []) *)) 
        % Title page
        % Don't include header/footer, and vertically center + logo
        \pagestyle{empty}
        \vspace*{\fill}
        ((( super() )))
        \vspace*{\fill}
        \newpage
    ((* else *))
        \pagestyle{fancy}
        ((( super() )))
        \newpage
    ((* endif *))
((* endblock any_cell *))
