{%- extends 'lab/index.html.j2' -%}

{%- block html_head_js -%}


<script>
var _nbprint_configuration = {};
var _nbprint_notebook_info = new Map();
</script>


{{ resources.include_js("static/embedded.js", True) }}
{{ super() }}
{%- endblock html_head_js -%}

{% block extra_css %}
{{ super() }}
{{ resources.include_css("static/embedded.css") }}
{{ resources.include_css("static/table-of-content.css") }}
{{ resources.include_css("static/nbprint.css") }}
{% endblock extra_css %}

{# === No notebook === #}
{% block notebook_css %}
{{ super() }}
{% endblock notebook_css %}

{# === No custom CSS === #}
{% block custom_css %}
{{ super() }}
{% endblock custom_css %}


{#
==============================================================================
 Cell
==============================================================================
#}

{% block any_cell scoped %}
{% if cell.metadata.get("nbprint", {}) != {} %}
    <script>
        _nbprint_notebook_info.set("{{ cell.metadata["nbprint"]["id"] }}", {{ cell.metadata["nbprint"] | json_dumps | escape_html_script }});
        {% if cell.metadata["nbprint"].get("role", "") == "configuration" %}
        _nbprint_configuration = {{ cell.metadata["nbprint"] | json_dumps | escape_html_script }};
        {% endif %}
    </script>


    {% if cell.metadata["nbprint"].get("ignore", False) %}
        {# Don't generate any visual elements if nbprint_ignore tag is set #}
    {% else %}
        {% if cell.metadata["nbprint"].get("parent-id", None) %}
        <div class="nbprint" data-nbprint-id="{{ cell.metadata["nbprint"]["id"] }}" data-nbprint-parent-id="{{ cell.metadata["nbprint"]["parent-id"] }}">
        {% else %}
        <div class="nbprint" data-nbprint-id="{{ cell.metadata["nbprint"]["id"] }}">
        {% endif %}
        {{ super() }}
        </div>
    {% endif %}

{% else %}
    {{ super() }}
{% endif %}
{% endblock any_cell %}



{% block in_prompt -%}
{%- endblock in_prompt %}

{% block input_group -%}
{% endblock input_group %}

{% block input %}
{%- endblock input %}

{% block empty_in_prompt -%}
{%- endblock empty_in_prompt %}

{% block output_area_prompt %}
{% endblock output_area_prompt %}
